<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cteam"
        tools:targetApi="31">
        <activity
            android:name=".aciklama_sekiro"
            android:exported="false" />
        <activity
            android:name=".aciklama_rdr2"
            android:exported="false" />
        <activity
            android:name=".Aciklama_re2"
            android:exported="false" />
        <activity
            android:name=".Sepet"
            android:exported="false" />
        <activity
            android:name=".sekiroo1_big_image"
            android:exported="false" />
        <activity
            android:name=".sekiro2_big_iamge"
            android:exported="false" />
        <activity
            android:name=".rdr2_big_image"
            android:exported="false" />
        <activity
            android:name=".rdr1_big_image"
            android:exported="false" />
        <activity
            android:name=".re2_big_image"
            android:exported="false" />
        <activity
            android:name=".re1_big_image"
            android:exported="false" />
        <activity
            android:name=".civvv6"
            android:exported="false" />
        <activity
            android:name=".Baldur"
            android:exported="false" />
        <activity
            android:name=".Sekiro_sdt"
            android:exported="false" />
        <activity
            android:name=".RDR"
            android:exported="false" />
        <activity
            android:name=".Dmc5"
            android:exported="false" />
        <activity
            android:name=".Resident_evil_2"
            android:exported="false" />
        <activity
            android:name=".Market_page"
            android:exported="false" />
        <activity
            android:name=".profile_cardView"
            android:exported="false" />
        <activity
            android:name=".Main_page"
            android:exported="false" />
        <activity
            android:name=".sign_up_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>